.icon {
	background-position: 8% center;
	background-repeat: no-repeat;
	background-size: 50px 30px;
	padding-left: 26px;
	text-indent: 45px;
}

.icon-last {
	background-size: 50px 28px;
}

#addidas {
	background-image: url(../../img/cup/addidas_logo.png);
}

#book {
	background-image: url(../../img/cup/book.jpg);
}

#hippie {
	background-image: url(../../img/cup/hippie.jpg);
}

#ouzo {
	background-image: url(../../img/cup/ouzo.jpg);
}

#klarin {
	background-image: url(../../img/cup/klarin.jpg);
}

#rakoun {
	background-image: url(../../img/cup/rakoun.jpg);
}