ol.rounded-list {
	counter-reset: li;
	/* Initiate a counter */
	list-style: none;
	/* Remove default numbering */
	*list-style: decimal;
	/* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
.rounded-list a {
	color: #444;
	text-decoration: none;
	display: block;
	width: 150px;
	text-align: left;
	margin: 0px auto;
	transition: all .3s ease-out;
}

.rounded-list a:hover {
	background: #eee;
}

.rounded-list a:hover:before {
	transform: rotate(360deg);
	background: rgba(255, 168, 76, 1);
	border-color: rgba(73,76,84,0.5);
	color: rgba(96,79,96,1);
}

.rounded-list a:before {
	content: counter(li);
	counter-increment: li;
	position: relative;
	left: -1em;
	vertical-align: middle;
	background: rgba(255, 168, 76, 0.5);
	display: inline-block;
	height: 2em;
	width: 2em;
	line-height: 1.5em;
	border: .3em solid rgba(224,213,213,1);
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}
.center_rounded_ol {
	text-align: center;
	list-style-position: inside;
	width: 60%;
	margin: 0px auto;
}
.rounded-list li {
	position: relative;
	display: block;
	padding: .4em;
	transition: all .3s ease-out;
}

.space_between {
	margin-top: 5%;
}

/*
 <h3 class="center_rounded_ol">Man-to-man suggestions</h3>
 <ol class="rounded-list center_rounded_ol">
 <li class="cool_white">
 <a>Yannis Drogitis</a>
 </li>
 <li class="cool_white">
 <a>Dimitris Mariglis</a>
 </li>
 <li class="cool_white">
 <a>Kots Mariglis</a>
 </li>
 </ol>
 */